@import url('../../variables.css');

@keyframes remove {
    0% {
      transform: scale(100%);
      width: 200px;
    }
    50%{
      transform: scale(0);
      width: 200px;
    }
    100%{
      transform: scale(0);
      width: 0px;
    }
  }

@keyframes adding {
    0% {
      transform: scale(0);
    }

    100% {
      transform: scale(100%);
    }
}

.playlist-item-bottom {
  display: flex;
  color: white;
  margin: 0;
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 48px;
}

.playlist-item-title {
  position: relative;
  width: 128px;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.playlist-item .playlist-item-title span {
  position: absolute;
  bottom: 0;
  white-space: nowrap;
  transform: translateX(0);
  transition: 1s;
}

.playlist-item:hover {
  cursor: pointer;
}

.playlist-item:hover .playlist-item-title span {
  transform: translateX(calc(128px - 100%));
}

.playlist-item-main-action {
  text-align: center;
  position: absolute;
  right: 0px;
}

.playlist-item-current {
  display: flex;
  justify-content: center;
  color: white;
}

.playlist-item-top {
  position: absolute;
  top: 0;
  padding: 2px;
  width: 100%;
  height: 30px;
}

.playlist-item-top-middle {
  position: absolute;
  left: calc(50% - 18px);
  top: 4px;
}

.playlist-item-top-right {
  position: absolute;
  right: 2px;
}

.playlist-item-remove {
  color: white;
  background-color: darkred;
  width: 28px;
  height: 28px;
  border: none;
  text-align: center;
  display: flex;
}

.selected .playlist-item-bottom {
  background-color: var(--theme-secondary);
}

.playlist-item:not(.active) .card-background-image {
  filter: grayscale(80%);
}

.playlist-item.visible {
  animation: adding 0.5s ease-in-out;
}

.playlist-item:not(.visible) {
  animation: remove 0.5s ease-in-out;
}