@import url('../../variables.css');

.fab-container {
    position: fixed;
    right: 16px;
    bottom: 16px;
    padding: 16px;
    margin-right: 16px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: var(--theme-secondary);
    color: white;
    user-select: none;
    box-shadow: 0px 6px 6px rgba(0,0,0,0.2);
    transition: all 0.3s ease-in-out;
}

.fab-container::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: black;
    transition: all 0.3s ease-in-out;
    opacity: 0;
}


.fab-container:hover {
    cursor: pointer;
}

.fab-container:hover::after {
    opacity: 0.1;
}

.fab-container:active {
    box-shadow: inset 0px 3px 3px rgba(0,0,0,0.2);
}