@import url("../../variables.css");

.list-item {
    display: flex;
    width: 100%;
    min-height: 48px;
    text-decoration: none;
    align-items: center;
}

.list-item:hover {
    cursor: pointer;
}

.list-item-content {
    color: var(--theme-primary);
    text-decoration: none;
}

.list-item.selected {
    background-color: #0000001F;
}

.list-icon {
    padding: 14px;
    color: rgba(131, 131, 131, 1);
}

.list-item.selected .list-icon {
    color: var(--theme-primary);
}

.list-content {
    padding: 12px 16px;
}