@import url("../../variables.css");

.topbar {
    display: flex;
    z-index: 9;
    background-color: var(--theme-primary);
    padding: 16px;
    width: 100%;
    flex-direction: row;
    height: var(--top-app-bar-height);
    align-items: center;
    color: var(--theme-text-on-primary);
}

.title {
    font-size: 20px;
}

.start {
    align-content: flex-start;
    margin-right: 32px;
}

.end {
    align-content: flex-end;
}