@import url("../../variables.css");

.home-content {
    margin: auto;
    padding:10px;
    color: var(--theme-primary);
}

.home-connect {
    padding: 8px;
    margin: auto;
    display: block;
    width: 70%;
}

.home-connect-img {
    display: block;
    max-width: 100%;
    height: auto;
}

.home-link {
    color:var(--theme-secondary); 
    font-weight: bold;
}