@import url("../../variables.css");

.home-content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    color: var(--theme-primary);
}

.home-connect {
    padding: 8px;
    display: block;
}

.home-connect-img {
    margin: 0;
    max-width: 100%;
    height: auto;
}

.home-link {
    color:var(--theme-secondary); 
    font-weight: bold;
}

.home-text {
    width: 75%;
}