@import url('../../variables.css');

.product-info-container .item {
    display: block;
    width: 100%;
    border-bottom: solid 2px #EEEEEE;
    transition: all 0.3s ease-in-out;
    color: var(--theme-primary);
    padding-top: 16px;
    padding-bottom: 16px;
}

.product-info-container .item:hover {
    background-color: #EEEEEE;
}

.product-info-container .item span {
    display: block;
    color: #AAAAAA;
    font-size: 14px;
    padding-top: 8px;
}

.product-info-container .log {
    display: block;
    text-align: right;
    color: var(--theme-secondary);
    text-decoration: underline;
    margin-right: 16px;
}

.product-info-container .log:hover {
    cursor: pointer;
}