
body{
    min-height:100%;
    width:100%;
  }
main{
  min-height: 100%;
}
a{
  color: white;
}
.card a{
  display: block;
  width: 100%;
  background-color: #00517d;
  padding: 1rem;
  margin: 0.2rem;

}
