@import url("./variables.css");

@keyframes leftPanelIn {
    0% {
        width: 0%;        
        transform: translateX(-100%) scaleX(0);
    }

    100% {
        width: 20%;
        transform: translateX(0%) scaleX(1);
    }
}

@keyframes leftPanelOut {
    0% {
        width: 20%;
        transform: translateX(0%) scaleX(1);
    }

    100% {
        width: 0;
        transform: translateX(-100%) scaleX(0);
    }
}

.container {
    width: 100%;
    position: relative;
    bottom: 0;
    height: 100%;
    overflow: hidden;
}

.contents {
    display: flex;
    position: relative;
    flex-direction: row;
    height: calc(100% - var(--top-app-bar-height));
}

.left-content {
    position: relative;
    width: 20%;
    overflow-y: scroll;
    height: 100%;
    transform: translateX(0) scaleX(1);
    animation: leftPanelIn 0.5s forwards;
}

.left-content.hide {
    animation: leftPanelOut 0.5s forwards;
}

.right-content {
    padding: 0 auto;
    margin-left: 8px;
    overflow-y: scroll;
    width: 100%;
}
